.services {
    height: 98vh;
    display: flex;
    margin-top: 6rem;
    margin-bottom: 5rem;
    padding: 0 1rem 0 1rem;

}

.awesome {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.awesome>* {
    margin: 0.7rem;
}

.awesome>:nth-child(1) {
    font-size: 36px;
    font-weight: bold;
}

.awesome>:nth-child(2) {
    font-size: 36px;
    font-weight: bold;
    color: var(--orange);
}

.awesome>:nth-child(3) {
    font-size: 16px;
    font-weight: normal;
    color: var(--gray);
}

.s-button {
    width: 50%;
}

.cards {
    flex: 1;
    position: relative;

}

.cards>* {
    position: absolute;
}


@media screen and (max-width:480px) {
    .services {
        display: flex;
        flex-direction: column;
        height: 200vh;
        margin-bottom: -45px;
    }

    .cards {
        margin-top: -90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3rem;
    }

    .cards>* {
        position: static;
    }
}